<div class="jumbotron">
    <h1 class="display-4">Match Schedule :</h1>
    <!-- <h1 class="display-4">No Team Member!</h1> -->
    <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Opposition</th>
                <th scope="col">Ground</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let matchSchedule of matchScheduleList; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{matchSchedule.date | date:'shortDate'}}</td>
                <td>{{matchSchedule.opposition}}</td>
                <td>{{matchSchedule.ground}}</td>
            </tr>
        </tbody>
    </table>
</div>