<div class="jumbotron ica">
  <div class="d-flex flex-row-reverse">
    <app-header></app-header>
  </div>
  <h1 class="display-4">Indian Cricket Association</h1>
  <img width=200 height=200 src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/Cricket_India_Crest.svg/1200px-Cricket_India_Crest.svg.png" class="mx-auto d-block" alt="...">
  <p class="lead">
    The India men's national cricket team, also known as Team India and Men in Blue, 
    is governed by the Board of Control for Cricket in India, and is a Full Member of 
    the International Cricket Council with Test, One-Day International and Twenty20 International status.
    The Indian cricket team has rivalries with other Test-playing nations, most notably with Pakistan, 
    the political arch-rival of India. However, in recent times, rivalries with nations like Australia, 
    South Africa and England have also gained prominence.
  </p>
</div>
